body {
    background-color: var(--blue);
    color: var(--dark-green);
}

div {
    border: .5rem solid var(--dark-green);
    background-color: var(--dark-green);
    border-radius: .5rem;
    width: 85%;
    margin-bottom: 50px;
}

p {
    margin: 10px;
    color: var(--purple);
}

h1 {
    font-size: 25px;
}

.blog-text {
    display: none;
}

.blog-button {
    border-radius: 16rem;
    border: none;
    background-color: var(--red-primary);
    color: var;
}

.blog-button:hover {
    cursor: pointer;
    color: #ffffe6;
    background-color: var(--red-secondary);
    transition-duration: 550ms;
}