:root {
    --bg: #86A5D9;
}

*, *::after, *::before {
    border: 0;
    padding: 0px;
    margin: 0px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

h2 {
    font-size: 60px;
    background: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}

div:nth-child(1) {
    background-image: url("../images/tsunami.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url("https://github.com/duck123acb/japan-tsunami/blob/main/images/tsunami.jpg?raw=true"); */
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(2) {
    background-color: var(--bg);
}

.about-text {
    font-size: 15px;
    padding: 4rem;
}

main {
    margin-left: 5rem;
    padding: 0rem;
}

#bobing-title {
    animation: bob 1s ease-in-out;
    animation-iteration-count: infinite;
}

#top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes bob {
    30% {
        transform: translate(20%, -10%);
    }

    60% {
        transform: translate(-10%, 10%);
    }

    100%{
        transform: translate(0, 0);
    }
}

#scroll-link {
    background-color: #eee;
    border-radius: 2rem;
    padding: 1rem;
}

html {
	scroll-behavior: smooth;
}