:root {
    --text-primary: #fff;
    --dark-green: #202A25;
    --transition-speed: 200ms;
    --red-primary: #F13447;
    --red-secondary: #f32d13;
    --blue: #86A5D9;
    --purple: #5F4BB6;

}

*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--dark-green);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--red-primary);
    border-radius: .2rem;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--dark-green);
    transition: var(--transition-speed) ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover:focus {
    filter: opacity(1);
}

.link-text {
    display: none;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover, .navbar:focus-within {
    width: 10rem;
}

.navbar:hover, .link-text {
    display: block;
}

.fa-primary {
    color: var(--red-secondary);
}

.fa-secondary {
    color: var(--red-primary);
}

.fa-primary, .fa-secondary {
    transition: var(--transition-speed);
}

.itallic {
    font-style: italic
}

.title {
    font-size: 20px;
}

.small {
    font-size: 12px;
}